@import "tailwindcss";

@layer utilities {
  @media print {
    @page {
      margin: 0;
      size: auto;
    }
    body {
      margin: 0;
      padding: 0;
      background: white;
    }
    a[href]:after {
      content: none !important;
    }
    .no-print {
      display: none !important;
    }
    .print-only {
      display: block !important;
    }
    .print-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: white;
      z-index: 9999;
      display: block;
      margin: 0;
      padding: 0;
    }
  }
}

.print-only {
  display: none;
}


